<!-- <html>
    <div style="text-align: center;">
       <h1>Welcome to Application</h1> 
    </div>
</html>
<router-outlet></router-outlet> -->

<!-- <app-login></app-login> -->
<app-parent></app-parent>

<h2>Counter App</h2>

<button (click)="decrement()">-</button>
<span> {{ count }} </span>
<button (click)="increment()">+</button>

<hr>

<h2>Input Display</h2>
<input [(ngModel)]="username" placeholder="Enter name">
<p>Hello, {{ username }}</p>

<hr>
<button (click)=handleLogin()>Login</button>
